<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMyCampus"
        tools:targetApi="31">
        <activity
            android:name="com.team1.book_my_campus.LoginPage"
            android:exported="false" />
        <activity
            android:name="com.team1.book_my_campus.HomePage"
            android:exported="false" />
        <activity
            android:name="com.team1.book_my_campus.SignUpPage"
            android:exported="false" />
        <activity
            android:name="com.team1.book_my_campus.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>